body {
    font-family: "Raleway", "Open Sans";
    color:white;
    background-color: black;
    }

   .navbar {
    background-color: transparent !important;
    color:white;
  }
  .fondo {
      background-color: black !important;
      color:white;
  }
  .col1, .col2, .col3 {
    text-align: justify;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 70px;
}
.icon1 {
    text-align: center;
    color: white;
    background-color: #328998;
    margin-bottom: 10px;
    }
    
    .icon2 {
        text-align: center;
        color: white;
        background-color: #328998;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    
     .linea {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 2px;
        color:  #328998;
        background: #328998;
    } 
    
    
    h4 {
        display: block;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 30px; 
        background-color: black;  
    }

    .icon1 {
        text-align: center;
        color: white;
        background-color: #328998;
        margin-bottom: 10px;
        }
        
        .icon2 {
            text-align: center;
            color: white;
            background-color: #328998;
            margin-top: 10px;
            margin-bottom: 50px;
        }
        
        
        .card {
            margin: 0 20px;
            background-color: #328998!important;
        }
        

        
        .card-title {
            font-size: 16pt;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
        }
        
        
        .card-text {
            
            font-size: 12pt;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
        }
       
        .fondo2{
            background-color: black!important;
        }
        
        footer{
            background-color: #1798c1;
            margin-top: 30px;

        }
        
        .iconosfooter{
            font-size: 30px;
            display: inline-block;
            margin-left: 10px;
        
        }